In [60]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as patches

In [2]:
!ls ../dat

clean_test.csv	clean_train.csv  PM_test.txt  PM_train.txt  PM_truth.txt

In [3]:
raw = pd.read_csv('../dat/clean_train.csv')
raw.head()

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s16,s17,s18,s19,s20,s21,RUL,label1,label2,cycle_norm
0,1,1,0.459770,0.166667,0.0,0.0,0.183735,0.406802,0.309757,0.0,...,0.0,0.333333,0.0,0.0,0.713178,0.724662,191,0,0,0.00000
1,1,2,0.609195,0.250000,0.0,0.0,0.283133,0.453019,0.352633,0.0,...,0.0,0.333333,0.0,0.0,0.666667,0.731014,190,0,0,0.00277
2,1,3,0.252874,0.750000,0.0,0.0,0.343373,0.369523,0.370527,0.0,...,0.0,0.166667,0.0,0.0,0.627907,0.621375,189,0,0,0.00554
3,1,4,0.540230,0.500000,0.0,0.0,0.343373,0.256159,0.331195,0.0,...,0.0,0.333333,0.0,0.0,0.573643,0.662386,188,0,0,0.00831
4,1,5,0.390805,0.333333,0.0,0.0,0.349398,0.257467,0.404625,0.0,...,0.0,0.416667,0.0,0.0,0.589147,0.704502,187,0,0,0.01108

In [4]:
raw.shape

(20631, 30)

In [5]:
raw.columns

Index(['id', 'cycle', 'setting1', 'setting2', 'setting3', 's1', 's2', 's3',
       's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11', 's12', 's13', 's14',
       's15', 's16', 's17', 's18', 's19', 's20', 's21', 'RUL', 'label1',
       'label2', 'cycle_norm'],
      dtype='object')

In [107]:
raw.groupby('id').count().sort_values('cycle',ascending=False).head()

,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,s6,...,s16,s17,s18,s19,s20,s21,RUL,label1,label2,cycle_norm
id,,,,,,,,,,,,,,,,,,,,,
69,362,362,362,362,362,362,362,362,362,362,...,362,362,362,362,362,362,362,362,362,362
92,341,341,341,341,341,341,341,341,341,341,...,341,341,341,341,341,341,341,341,341,341
96,336,336,336,336,336,336,336,336,336,336,...,336,336,336,336,336,336,336,336,336,336
67,313,313,313,313,313,313,313,313,313,313,...,313,313,313,313,313,313,313,313,313,313
83,293,293,293,293,293,293,293,293,293,293,...,293,293,293,293,293,293,293,293,293,293

In [122]:
dat = raw[raw['id'] == 92]

plt.figure(figsize=(15,10))

for i,sensor in enumerate(list(raw.columns)[5:-4]):
    plt.plot(dat[sensor], label=sensor, linestyle='-')

plt.tight_layout()
plt.legend()
#plt.show()
plt.savefig('../dat/sensors_on_92.png', transparent=True, dpi=300)

In [123]:
fig,ax = plt.subplots(1, figsize=(15,10))

for i,sensor in enumerate(list(raw.columns)[5:-4]):
    plt.plot(dat[sensor], label=sensor, linestyle='-')

rect1 = patches.Rectangle((18824,0), width=15, height=1, 
                          alpha=0.4, edgecolor='yellow',facecolor='yellow')
ax.add_patch(rect1)
rect2 = patches.Rectangle((18839,0), width=17, height=1, 
                          alpha=0.4, edgecolor='red',facecolor='red')
ax.add_patch(rect2)

#ax.plot(dat['label2'])

plt.tight_layout()
plt.legend()
#plt.show()
fig.savefig('../dat/sensors_on_92_w_labels.png', transparent=True, dpi=300)